body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 350px;
    margin: auto;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.deleteBtn {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}